<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brazilian Beacon</title>

  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{css/scrolling-nav.css}" rel="stylesheet">

  <!-- datetimepicker  -->
  <link th:href="@{vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
  <link th:href="@{css/beacon.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Randomness Beacon - Combination</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#viewer">Viewer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Inmetro Combination Beacon</h1>
<!--      <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>-->
      <p class="lead">Inmetro's Randomness Beacon is a web service, part of the  SICCCiber project's effort to generate reliable and public sources of random numbers</p>

<!--      Please note, this is the first beta release. More details about this project is available at <a href="https://siccciber.com.br/">SICCCiber</a> or by contacting the <a href="mailto:lainf@inmetro.gov.br">Inmetro Technology Lab</a>.-->
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>About this page</h2>
          <p class="lead">Combining beacons using Verifiable Delay Functions(VDF).</p>

          <p style="color: darkred" align="device">PLEASE, DO NOT USE THE BEACON GENERATED VALUES AS CRYPTOGRAPHIC KEYS.</p>

          <p>Inmetro's Combination Beacon was designed to provide a safe combination of beacons using a Verifiable Delay Function(VDF).
            This prototype has been built based on Lenstra and Wesoloski’ proposal, described in this <a href="https://eprint.iacr.org/2015/366">paper</a>.
          </p>

          <ul>
            <li>Once a minute, the prototype concatenates the latest pre-commitment published by the Nist, Chile and Inmetro</li>
            <li>Results are signed, stored and published together with all parameters used to execute the algorithm</li>
            <li>Prototype also allows a verification of the generated numbers via public API route</li>
          </ul>

          <p>
          <p>The service is available via a public REST API.</p>

          <br>

          <strong>Previous Pulse: </strong> <br>
          <span th:text="${uri}"></span>/beacon/2.0/combination/previous/&lt;timestamp&gt; <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/combination/previous/} + ${timestampPrevious}" th:text="|${uri}/beacon/2.0/combination/previous/${timestampPrevious}|"></a>
          </span>

          <br><br>

          <strong>Next Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/combination/next/&lt;timestamp&gt; <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/combination/next/} + ${timestampPrevious}" th:text="|${uri}/beacon/2.0/combination/next/${timestampPrevious}|"></a>
          </span>

          <br><br>

          <strong>Last Available Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/combination/last <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/combination/last}" th:text="|${uri}/beacon/2.0/combination/last|"></a>
          </span>

          <br><br>

          <strong>First Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/combination/first<br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/combination/first}" th:text="|${uri}/beacon/2.0/combination/first|"></a>
          </span>

          <br><br>

          <strong>Verify Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/combination/verify?y=&lt;Y&gt;&x=&lt;X&gt;&iterations=&lt;iterations&gt;<br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/combination/verify} + ${linkVerify}" th:text="|${uri}/beacon/2.0/combination/verify${linkVerify}|"></a>
          </span>

         <br><br>

          If a request for a Pulse results in no Pulse found, a 404 response is returned. <br>
          If a request for a Pulse is not in RFC 3339 format, a 400 (BAD REQUEST) is returned.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="viewer" class="bg-light" th:fragment="contact">
    <div th:replace="fragments/viewer-vdf :: viewer-vdf">&copy; 2016 The Static Templates</div>
  </section>

  <section id="contact" th:fragment="contact">
    <div th:replace="fragments/contact :: contact">&copy; 2016 The Static Templates</div>
  </section>

  <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="js/scrolling-nav.js"></script>

  <script th:src="@{/vendor/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
  <script th:src="@{js/vdf-combination.js}"></script>
</body>

</html>
