<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brazilian Beacon</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/scrolling-nav.css}" rel="stylesheet">

  <!-- datetimepicker  -->
  <link th:href="@{vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
  <link th:href="@{css/beacon.css}" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Randomness Beacon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Viewer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Inmetro's Randomness Beacon</h1>
<!--      <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>-->
      <p class="lead">Inmetro's Randomness Beacon is a web service, part of the  SICCCiber project's effort to generate reliable and public sources of random numbers</p>

<!--      Please note, this is the first beta release. More details about this project is available at <a href="https://siccciber.com.br/">SICCCiber</a> or by contacting the <a href="mailto:lainf@inmetro.gov.br">Inmetro Technology Lab</a>.-->
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">Combinação de beacons utilizando funções de computação lenta.</p>

<!--          <p style="color: darkred" align="device">PLEASE, DO NOT USE THE BEACON GENERATED VALUES AS CRYPTOGRAPHIC KEYS.</p>-->

<!--          <p>Inmetro's Randomness Beacon is a web service, part of the <a href="https://siccciber.com.br/">SICCCiber</a> project's effort to generate reliable and public sources of random numbers.  <a href="#contact">Contact us</a> for more details</p>-->
          <p>Este serviço funciona da seguite forma:</p>
          <ul>
            <li>A cada 5 minutos uma nova submissão é aberta(Ex.: 13:30 - 13:35).  O período de submissão dura 60 segundos.</li>
            <li>Após o término do periodo de submissão, o sistema adiciona o precommit do próximo número juntamente com as contribuições anteriores.</li>
            <li>O sistema inicia Sloth com "X" iterações.</li>
            <li>Os resultados são publicados juntamente com os parÃmetros de configuração</li>
          </ul>

          <p>
          <p>The service is available via a public REST API.</p>

          <br>

          <strong>Previous Pulse: </strong> <br>
          <span th:text="${uri}"></span>/beacon/2.0/pulse/vdf/previous/&lt;timestamp&gt; <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/pulse/vdf/previous/} + ${timestampPrevious}" th:text="|${uri}/beacon/2.0/pulse/vdf/previous/${timestampPrevious}|"></a>
          </span>

          <br><br>

          <strong>Next Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/pulse/vdf/next/&lt;timestamp&gt; <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/pulse/vdf/next/} + ${timestampPrevious}" th:text="|${uri}/beacon/2.0/pulse/vdf/next/${timestampPrevious}|"></a>
          </span>

          <br><br>

          <strong>Last Available Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/pulse/vdf/last <br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/pulse/vdf/last}" th:text="|${uri}/beacon/2.0/pulse/vdf/last|"></a>
          </span>

          <br><br>

          <strong>First Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/pulse/vdf/first<br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/pulse/vdf/first}" th:text="|${uri}/beacon/2.0/pulse/vdf/first|"></a>
          </span>

          <br><br>

          <strong>Verify Pulse:</strong><br>
          <span th:text="${uri}"></span>/beacon/2.0/pulse/vdf/verify?y=&lt;Y&gt;&x=&lt;X&gt;&iterations=&lt;iterations&gt;<br>
          <span th:if="${timestampPrevious!=null}">
          Example: <a style="word-break: break-word" th:href="@{/beacon/2.0/pulse/vdf/verify} + ${linkVerify}" th:text="|${uri}/beacon/2.0/pulse/vdf/verify${linkVerify}|"></a>
          </span>

         <br><br>

          If a request for a Pulse results in no Pulse found, a 404 response is returned. <br>
          If a request for a Pulse is not in RFC 3339 format, a 400 (BAD REQUEST) is returned.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Viewer</h2>
<!--          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>-->
          <div class="card">

            <div class="card-header">
              Pulse

<!--              <div id="status" style="display:none;" class="spinner-border m-0 float-right" role="status" align="rig">-->
<!--                <span class="sr-only">Loading...</span>-->
<!--              </div>-->


            </div>
            <div class="card-body">

<!--              <h5 class="card-title">Special title treatment</h5>-->
<!--              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->

                  <button class="btn btn-primary" onclick="getFirstPulse();" type="button">First</button>
                  <button class="btn btn-primary" onclick="getPreviousPulse();" type="button">Previous</button>
                  <input class="btn btn-primary" onclick="getNextPulse();" type="button" value="Next">
                  <input class="btn btn-primary" onclick="getLastPulse()" type="reset" value="Last">

            </div>
          </div>

<!--          <div class="card">-->
<!--            <div class="card-header">-->
<!--              Chain-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--&lt;!&ndash;              <h5 class="card-title">Special title treatment</h5>&ndash;&gt;-->
<!--&lt;!&ndash;              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>&ndash;&gt;-->
<!--              <a href="#" class="btn btn-primary" onclick="getFirstPulse();">First</a>-->
<!--              <a href="#" class="btn btn-primary">Previous</a>-->
<!--              <a href="#" class="btn btn-primary">Next</a>-->
<!--              <a href="#" class="btn btn-primary">Last</a>-->
<!--            </div>-->
<!--          </div>-->

          <div class="card">
            <div class="card-header">
              Record
            </div>
            <div class="card-body">
              <!--              <h5 class="card-title">Special title treatment</h5>-->
              <!--              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

              <input id="input-datetime" size="46" type="text" value="2019-08-14T17:24:00.000Z">

              <br>
              <br>

              <table class="table" id="table_pulse">
              </table>

            </div>
          </div>

        </div>


      </div>

    </div>
  </section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
<!--          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>-->
          <p class="lead"><a href="mailto:lainf@inmetro.gov.br">Inmetro Technology Lab.</a><br>Instituto Nacional de Metrologia e qualidade INMETRO</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Inmetro &copy; 1993 - 2019.  Todos os direitos reservados</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

  <!-- beacon -->
  <script th:src="@{/vendor/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
  <script th:src="@{js/vdf-pulse.js}"></script>
</body>

</html>
